In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [4]:
df.isnull()

     Survived  Pclass    Sex    Age   Fare
0       False   False  False  False  False
1       False   False  False  False  False
2       False   False  False  False  False
3       False   False  False  False  False
4       False   False  False  False  False
5       False   False  False   True  False
6       False   False  False  False  False
7       False   False  False  False  False
8       False   False  False  False  False
9       False   False  False  False  False
10      False   False  False  False  False
11      False   False  False  False  False
12      False   False  False  False  False
13      False   False  False  False  False
14      False   False  False  False  False
15      False   False  False  False  False
16      False   False  False  False  False
17      False   False  False   True  False
18      False   False  False  False  False
19      False   False  False   True  False
20      False   False  False  False  False
21      False   False  False  False  False
22      False   False  False  False  False
23      False   False  False  False  False
24      False   False  False  False  False
25      False   False  False  False  False
26      False   False  False   True  False
27      False   False  False  False  False
28      False   False  False   True  False
29      False   False  False   True  False
..        ...     ...    ...    ...    ...
861     False   False  False  False  False
862     False   False  False  False  False
863     False   False  False   True  False
864     False   False  False  False  False
865     False   False  False  False  False
866     False   False  False  False  False
867     False   False  False  False  False
868     False   False  False   True  False
869     False   False  False  False  False
870     False   False  False  False  False
871     False   False  False  False  False
872     False   False  False  False  False
873     False   False  False  False  False
874     False   False  False  False  False
875     False   False  False  False  False
876     False   False  False  False  False
877     False   False  False  False  False
878     False   False  False   True  False
879     False   False  False  False  False
880     False   False  False  False  False
881     False   False  False  False  False
882     False   False  False  False  False
883     False   False  False  False  False
884     False   False  False  False  False
885     False   False  False  False  False
886     False   False  False  False  False
887     False   False  False  False  False
888     False   False  False   True  False
889     False   False  False  False  False
890     False   False  False  False  False

[891 rows x 5 columns]

In [5]:
inputs = df.drop('Survived',axis='columns')
target = df.Survived

In [6]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head(3)

   female  male
0       0     1
1       1     0
2       1     0

In [7]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0

In [8]:
inputs.drop(['Sex','male'],axis='columns',inplace=True)
inputs.head(3)

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1

In [9]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [10]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [13]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head()

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1
3       1  35.0  53.1000       1
4       3  35.0   8.0500       0

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.3)

In [19]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [22]:
model.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

model.score(X_test,y_test)

In [23]:
model.score(X_test,y_test)

0.7686567164179104

In [24]:
X_test[0:10]

     Pclass        Age     Fare  female
772       2  57.000000  10.5000       1
761       3  41.000000   7.1250       0
61        1  38.000000  80.0000       1
414       3  44.000000   7.9250       0
509       3  26.000000  56.4958       0
493       1  71.000000  49.5042       0
596       2  29.699118  33.0000       1
23        1  28.000000  35.5000       0
125       3  12.000000  11.2417       0
262       1  52.000000  79.6500       0

In [27]:
model.predict(X_test[0:10])

array([1, 0, 1, 0, 0, 1, 1, 0, 0, 1], dtype=int64)

In [28]:
model.predict_proba(X_test[:10])

array([[0.15612333, 0.84387667],
       [0.96755304, 0.03244696],
       [0.01365825, 0.98634175],
       [0.96619188, 0.03380812],
       [0.93439531, 0.06560469],
       [0.344428  , 0.655572  ],
       [0.19637451, 0.80362549],
       [0.7033619 , 0.2966381 ],
       [0.94985866, 0.05014134],
       [0.31688944, 0.68311056]])

In [36]:
import sklearn.model_selection as model_selection
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [37]:
real_x=df.iloc[:,[2,3]].values
real_y=df.iloc[:,4].values

In [38]:
training_x,test_x,training_y,test_y=model_selection.train_test_split(real_x,real_y,test_size=0.25,random_state=0)

In [42]:
training_x

array([['male', 28.0],
       ['female', 17.0],
       ['male', 30.0],
       ...,
       ['male', nan],
       ['female', 36.0],
       ['male', 60.0]], dtype=object)

In [43]:
df.isnull()

     Survived  Pclass    Sex    Age   Fare
0       False   False  False  False  False
1       False   False  False  False  False
2       False   False  False  False  False
3       False   False  False  False  False
4       False   False  False  False  False
5       False   False  False   True  False
6       False   False  False  False  False
7       False   False  False  False  False
8       False   False  False  False  False
9       False   False  False  False  False
10      False   False  False  False  False
11      False   False  False  False  False
12      False   False  False  False  False
13      False   False  False  False  False
14      False   False  False  False  False
15      False   False  False  False  False
16      False   False  False  False  False
17      False   False  False   True  False
18      False   False  False  False  False
19      False   False  False   True  False
20      False   False  False  False  False
21      False   False  False  False  False
22      False   False  False  False  False
23      False   False  False  False  False
24      False   False  False  False  False
25      False   False  False  False  False
26      False   False  False   True  False
27      False   False  False  False  False
28      False   False  False   True  False
29      False   False  False   True  False
..        ...     ...    ...    ...    ...
861     False   False  False  False  False
862     False   False  False  False  False
863     False   False  False   True  False
864     False   False  False  False  False
865     False   False  False  False  False
866     False   False  False  False  False
867     False   False  False  False  False
868     False   False  False   True  False
869     False   False  False  False  False
870     False   False  False  False  False
871     False   False  False  False  False
872     False   False  False  False  False
873     False   False  False  False  False
874     False   False  False  False  False
875     False   False  False  False  False
876     False   False  False  False  False
877     False   False  False  False  False
878     False   False  False   True  False
879     False   False  False  False  False
880     False   False  False  False  False
881     False   False  False  False  False
882     False   False  False  False  False
883     False   False  False  False  False
884     False   False  False  False  False
885     False   False  False  False  False
886     False   False  False  False  False
887     False   False  False  False  False
888     False   False  False   True  False
889     False   False  False  False  False
890     False   False  False  False  False

[891 rows x 5 columns]

In [44]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())

In [45]:
df.isnull()

     Survived  Pclass    Sex    Age   Fare
0       False   False  False  False  False
1       False   False  False  False  False
2       False   False  False  False  False
3       False   False  False  False  False
4       False   False  False  False  False
5       False   False  False   True  False
6       False   False  False  False  False
7       False   False  False  False  False
8       False   False  False  False  False
9       False   False  False  False  False
10      False   False  False  False  False
11      False   False  False  False  False
12      False   False  False  False  False
13      False   False  False  False  False
14      False   False  False  False  False
15      False   False  False  False  False
16      False   False  False  False  False
17      False   False  False   True  False
18      False   False  False  False  False
19      False   False  False   True  False
20      False   False  False  False  False
21      False   False  False  False  False
22      False   False  False  False  False
23      False   False  False  False  False
24      False   False  False  False  False
25      False   False  False  False  False
26      False   False  False   True  False
27      False   False  False  False  False
28      False   False  False   True  False
29      False   False  False   True  False
..        ...     ...    ...    ...    ...
861     False   False  False  False  False
862     False   False  False  False  False
863     False   False  False   True  False
864     False   False  False  False  False
865     False   False  False  False  False
866     False   False  False  False  False
867     False   False  False  False  False
868     False   False  False   True  False
869     False   False  False  False  False
870     False   False  False  False  False
871     False   False  False  False  False
872     False   False  False  False  False
873     False   False  False  False  False
874     False   False  False  False  False
875     False   False  False  False  False
876     False   False  False  False  False
877     False   False  False  False  False
878     False   False  False   True  False
879     False   False  False  False  False
880     False   False  False  False  False
881     False   False  False  False  False
882     False   False  False  False  False
883     False   False  False  False  False
884     False   False  False  False  False
885     False   False  False  False  False
886     False   False  False  False  False
887     False   False  False  False  False
888     False   False  False   True  False
889     False   False  False  False  False
890     False   False  False  False  False

[891 rows x 5 columns]

In [51]:
X_train = X_train.values()

TypeError: 'numpy.ndarray' object is not callable